* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*outline: 1px black dotted;*/

    a {
        text-decoration: none;
        color: black;
    }
}

body, html {
    height: 100dvh;
}

.row-1 {
    width: 100%;
    height: 10%;

    .logo {
        display: flex;
        align-items: center;
        font-size: 24pt;
        padding-left: 1rem;
    }
}

.row-2 {
    width: 100%;
    height: 70%;

    display: flex;
}

.column-1, .column-3 {
    width: 30%;
    height: 100%;
}

.column-2 {
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    i {
        font-size: 120pt;
    }
}

.row-3 {
    width: 100%;
    height: 20%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}