* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*outline: 1px white dotted;*/

    a {
        text-decoration: none;
    }
}

body, html {
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.row-1 {
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;

    box-shadow: 10px 10px 10px rgba(60, 60, 60, 0.25);

    .logo {
        display: flex;
        align-items: center;
        font-size: 24pt;
        padding-left: 1rem;
        gap: 0.5rem;
        color: whitesmoke;

        &:hover {
            cursor: pointer;
        }
    }
}

.row-2 {
    width: 100%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    position: relative;
    z-index: 0;

    .column-1 {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1 {
            color: whitesmoke;
        }

        button {
            background-color: black;
            color: whitesmoke;
            border-radius: 4px;
            border: none;

            width: 25%;
            height: auto;
            padding: 8px;
            text-shadow: -3px -1px 5px #f9f9f9;
            cursor: pointer;
        }
    }

    .column-2 {
        width: 30%;
        height: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem;

        img {
            width: 100%;
            height: auto;
        }
    }

    .split {
        width: 100%;
        height: 50%;
        background-color: white;

        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}

.row-3 {
    width: 100%;
    height: 20%;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: 0.5s ease;

    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2) inset,
    -10px -10px 10px white inset;

    &:hover {
        transform: scale(1.1);
    }

    a {
        color: black;
    }
}