@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*outline: 1px black dotted;*/
}

body, html {
    height: 200dvh;
    background-color: #e9e9e9;
    overflow-x: hidden;
}

.static {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;

    #section-1 {
        width: 100%;
        min-height: 100%;
        display: flex;
        gap: 2rem;
    }

    #section-2 {
        width: 100%;
        min-height: 100%;
        display: flex;
        gap: 2rem;

        position: absolute;
        top: 53%;
    }

    .static-card-1 {
        width: 20%;
        height: 50%;
        background-color: #fff;
        border-radius: 8px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;

        .row-1 {
            width: 100%;
            height: 30%;

            display: flex;
            justify-content: center;

            i {
                font-size: 5rem;
            }
        }

        .row-2 {
            width: 100%;
            height: 40%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-family: Roboto;
                font-weight: 500;
            }

            p {
                color: #c3c3c3;
                font-family: Roboto;
                font-weight: lighter;
            }
        }

        .row-3 {
            width: 100%;
            height: 30%;

            display: flex;
            justify-content: space-around;
            align-items: center;

            a {
                text-decoration: none;
                font-weight: 500;
                font-family: Roboto;
                color: black;
            }

            .accept {
                color: rgb(0, 149, 255);
            }
        }
    }

    .static-card-2 {
        width: 20%;
        height: 25%;
        border-radius: 8px;

        overflow: hidden;
        position: relative;
        z-index: 0;

        .background-image {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            img {
                width: 100%;
                height: auto;
                filter: invert(0.3);
            }
        }

        h4 {
            color: #212121;
            font-family: Montserrat;
            z-index: 2;
            position: absolute;
            top: 5%;
            left: 5%;
        }
    }

    .static-card-3 {
        width: 50%;
        height: 50%;
        border-radius: 8px;
        background-color: white;
        overflow: hidden;

        .row-1 {
            width: 100%;
            height: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .row-2 {
            width: 100%;
            height: 50%;
            background-color: #00000098;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 5rem;
            gap: 1rem;
            position: relative;

            img {
                width: 20%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 1/1;
                clip-path: circle(50% at 50% 50%);
                border: 3px solid #000000;
                border-radius: 50%;
                position: absolute;
                top: -40%;
            }

            h4 {
                color: white;
                font-family: Montserrat;
            }

            button {
                border: none;
                font-family: Roboto;
                font-size: 9pt;
                color: #f9f9f9;
                background-color: #1e1e1e;
                padding: 4px 8px 4px 8px;
                cursor: pointer;
                box-shadow: 1px 2px 1px rgb(0, 0, 0);
            }
        }
    }

    .static-card-4 {
        .flip-card {
            background-color: transparent;
            width: 300px;
            height: 300px;
          }

          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          }

          .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
          }

          .flip-card-front {
            background-color: #f5f5f5;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding: 2rem;
            padding-top: 5rem;
            gap: 5rem;
            overflow: hidden;

            h1 {
                position: relative;
                font-size: 32pt;
                color: #006400;
                &::after {
                    position: absolute;
                    content: '';
                    width: 50%;
                    height: 2px;
                    background-color: #000;
                    bottom: -25%;
                    right: 40%;
                }
            }

            p {
                color: #b9b9b9;
                text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    width: 50%;
                    height: 200%;
                    border-radius: 50%;
                    background-color: #006400;
                    right: -35%;
                    top: 50%;
                }
            }
          }

          .flip-card-back {
            background-color: #006400;
            transform: rotateY(180deg);
            display: flow-root;
            padding: 2rem;
            padding-top: 10rem;
            position: relative;

            h2 {
                position: absolute;
                top: 25%;
                left: 17%;
                padding: 4px 8px 4px 8px;
                background-color: #e9e9e9;
                border-radius: 8px;
            }

            h1 {
                font-size: 16pt;
                float: left;
                color: #f9f9f9;

                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    width: 220%;
                    height: 1px;
                    background-color: #fff;
                    top: -50%;
                }
            }

            p {
                font-size: 12pt;
                color: #c9c9c9;
            }
          }
    }

    .static-card-5 {
        width: 25%;
        height: auto;
        overflow: hidden;
        border-radius: 8px;

        .card {
            width: 100%;
            height: auto;
            position: relative;
            background-color: #000;
        }

        .carousel {
            width: 100%;
            height: auto;
            position: relative;

            img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                opacity: 1;
                filter: invert(0.3);
            }
        }


          .content {
            width: 100%;
            height: auto;
            position: absolute;
            padding: 2.5rem;

            display: flex;
            flex-direction: column;
            padding-top: 5rem;
            gap: 3rem;

            h2 {
                color: #f5f5f5;
                background-color: #00000060;
                padding: 2rem;
                font-family: Roboto;
            }

            button {
                width: max-content;
                padding: 4px 8px 4px 8px;
                border-radius: 8px;
                font-family: Montserrat;
                border: none;
                background-color: rgb(74, 130, 191);
                box-shadow: 1px 2px 1px rgb(0, 123, 255);
            }
          }
    }
}

.animated {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;

    #section-1 {
        width: 100%;
        min-height: 100%;
        display: flex;
        gap: 2rem;
        padding-top: 5rem;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 4px;
            background-color: #000;
            top: 10%;
        }
    }

    #section-2 {
        width: 100%;
        min-height: 100%;
        display: flex;
        gap: 2rem;
        padding-top: 5rem;

        position: absolute;
        top: 53%;
    }

    .animated-card-1 {
        width: 20%;
        height: 50%;
        background-color: #fff;
        border-radius: 8px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;

        animation: shake 2s linear infinite;

        &:hover {
            animation-play-state: paused;
        }

        .row-1 {
            width: 100%;
            height: 30%;

            display: flex;
            justify-content: center;

            i {
                font-size: 5rem;
            }
        }

        .row-2 {
            width: 100%;
            height: 40%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-family: Roboto;
                font-weight: 500;
            }

            p {
                color: #c3c3c3;
                font-family: Roboto;
                font-weight: lighter;
            }
        }

        .row-3 {
            width: 100%;
            height: 30%;

            display: flex;
            justify-content: space-around;
            align-items: center;

            a {
                text-decoration: none;
                font-weight: 500;
                font-family: Roboto;
                color: black;
            }

            .accept {
                color: rgb(0, 149, 255);
            }
        }
    }

    .animated-card-2 {
        width: 20%;
        height: 25%;
        border-radius: 8px;
        padding: 2px;
        overflow: hidden;
        position: relative;

        &:hover::before {
            opacity: 1;
            animation: spin 2s linear infinite;
        }

        &::before {
            position: absolute;
            z-index: 0;
            content: '';
            opacity: 0;
            width: 120%;
            height: 20%;
            top: 40%;
            right: -10%;
            background-color: #000000;
        }

        .animation {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            z-index: 1;

            .background-image {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 2;
                img {
                    width: 100%;
                    height: auto;
                    filter: invert(0.3);
                }
            }

            h4 {
                color: #212121;
                font-family: Montserrat;
                z-index: 2;
                position: absolute;
                top: 5%;
                left: 5%;
            }
        }
    }

    .animated-card-3 {
        width: 50%;
        height: 50%;
        border-radius: 8px;
        background-color: white;
        overflow: hidden;

        &:not(:hover) {
            .row-2 {
                animation-play-state: paused;
            }
        }

        .row-1 {
            width: 100%;
            height: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .row-2 {
            width: 100%;
            height: 50%;
            background-color: #00000098;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 5rem;
            gap: 1rem;
            position: relative;

            animation: span-up 2.5s infinite;
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);

            img {
                width: 20%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 1/1;
                clip-path: circle(50% at 50% 50%);
                border: 3px solid #000000;
                border-radius: 50%;
                position: absolute;
                top: -40%;
            }

            h4 {
                color: white;
                font-family: Montserrat;
            }

            button {
                border: none;
                font-family: Roboto;
                font-size: 9pt;
                color: #f9f9f9;
                background-color: #1e1e1e;
                padding: 4px 8px 4px 8px;
                cursor: pointer;
                box-shadow: 1px 2px 1px rgb(0, 0, 0);
            }
        }
    }

    .animated-card-4 {
        .flip-card {
            background-color: transparent;
            width: 300px;
            height: 300px;
          }

          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          }

          .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
          }

          .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
          }

          .flip-card-front {
            background-color: #f5f5f5;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding: 2rem;
            padding-top: 5rem;
            gap: 5rem;
            overflow: hidden;

            h1 {
                position: relative;
                font-size: 32pt;
                color: #006400;
                &::after {
                    position: absolute;
                    content: '';
                    width: 50%;
                    height: 2px;
                    background-color: #000;
                    bottom: -25%;
                    right: 40%;
                }
            }

            p {
                color: #b9b9b9;
                text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    width: 50%;
                    height: 200%;
                    border-radius: 50%;
                    background-color: #006400;
                    right: -35%;
                    top: 50%;
                }
            }
          }

          .flip-card-back {
            background-color: #006400;
            transform: rotateY(180deg);
            display: flow-root;
            padding: 2rem;
            padding-top: 10rem;
            position: relative;

            h2 {
                position: absolute;
                top: 25%;
                left: 17%;
                padding: 4px 8px 4px 8px;
                background-color: #e9e9e9;
                border-radius: 8px;
            }

            h1 {
                font-size: 16pt;
                float: left;
                color: #f9f9f9;

                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    width: 220%;
                    height: 1px;
                    background-color: #fff;
                    top: -50%;
                }
            }

            p {
                font-size: 12pt;
                color: #c9c9c9;
            }
          }
    }

    .animated-card-5 {
        width: 25%;
        height: auto;
        overflow: hidden;
        border-radius: 8px;

        .card {
            width: 100%;
            height: auto;
            position: relative;
        }

        .carousel {
            width: 100%;
            height: auto;
            position: relative;

            img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                opacity: 0;
                animation: display 8s linear infinite;
                filter: invert(0.3);
            }

            img:nth-child(2) {
                animation-delay: 2s;
              }
            img:nth-child(3) {
                animation-delay: 4s;
              }
            img:nth-child(4) {
                animation-delay: 6s;
              }
        }


          .content {
            width: 100%;
            height: auto;
            position: absolute;
            padding: 2.5rem;

            display: flex;
            flex-direction: column;
            padding-top: 5rem;
            gap: 3rem;

            h2 {
                color: #f5f5f5;
                background-color: #00000060;
                padding: 2rem;
                font-family: Roboto;
            }

            button {
                width: max-content;
                padding: 4px 8px 4px 8px;
                border-radius: 8px;
                font-family: Montserrat;
                border: none;
                background-color: rgb(74, 130, 191);
                box-shadow: 1px 2px 1px rgb(0, 123, 255);
            }
          }
    }
}

@keyframes display {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200%);
      opacity: 0;
    }
    100% {
      transform: translateX(-200%);
      opacity: 0;
    }
  }

@keyframes span-up {
    0% {
        height: 0%;
        opacity: 0;
    } 25% {
        opacity: 0;
    } 100% {
        height: 50%;
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    0%, 7% {
        transform: rotateZ(0);
      }
      15% {
        transform: rotateZ(-10deg);
      }
      20% {
        transform: rotateZ(8deg);
      }
      25% {
        transform: rotateZ(-8deg);
      }
      30% {
        transform: rotateZ(4deg);
      }
      35% {
        transform: rotateZ(-2deg);
      }
      40%, 100% {
        transform: rotateZ(0);
      }
}